<div class="kms-chart">

  <google-chart #chart
                [data]="barChart"
                (chartSelect)='select($event)'>
  </google-chart>
</div>

<form [formGroup]="editForm" (ngSubmit)="onSave(editForm)">
  <div class="form-group"  [ngClass]="{'show': isShowEditForm}">
    <h3 class="card-title">Edit quote</h3>
    <input formControlName="quote"  type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <strong class="text-danger" *ngIf="editForm.invalid">Ths field is required</strong>
    <button class="btn btn-info" [disabled]="editForm.get('quote').value === null || editForm.invalid">Save</button>
  </div>
</form>


