<div class="kms-chart">

  <google-chart #chart
                [data]="pieChart"
                (chartSelect)='select($event)'>
  </google-chart>
</div>

<form [formGroup]="quoteForm" (ngSubmit)="onSave(quoteForm)">
  <div class="form-group"  [ngClass]="{'show': isShowEditField}">
    <h3 class="card-title">Edit quote</h3>
    <input formControlName="quote"  type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <strong class="text-danger" *ngIf="quoteForm.invalid">Ths field is required</strong>
    <button class="btn btn-info" [disabled]="quoteForm.get('quote').value === null">Save</button>
  </div>
</form>


